---
http_interactions:
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/cards
    body:
      encoding: UTF-8
      string: '{"number":"4012888888881881","name":"Ben Crouse","cvv":"999","expiration_year":2019,"expiration_month":1}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.58
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '86'
      X-Flow-Request-Id:
      - api37590c0dc2d544c687428c61b4e817c1
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 38321f897552-163671
    body:
      encoding: UTF-8
      string: '{"id":"crd-d161f0ec8f5843198296e89b49c00da5","token":"F96ijBAOSQghnJPbUJbCaiSwJu2uXGq77py2gAeNGBT18pY21vSKgvsgdDFHXqN0","type":"visa","expiration":{"month":1,"year":2019},"iin":"401288","last4":"1881","name":"Ben
        Crouse","discriminator":"card"}'
  recorded_at: Tue, 30 Oct 2018 18:12:51 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/authorizations
    body:
      encoding: UTF-8
      string: '{"amount":500,"currency":"USD","discriminator":"direct_authorization_form","token":"F96ijBAOSQghnJPbUJbCaiSwJu2uXGq77py2gAeNGBT18pY21vSKgvsgdDFHXqN0","order_number":"AF9A27F908"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.58
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '73'
      X-Flow-Request-Id:
      - api4f06436bb4974666b9f499e9de8d5cba
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 4bbb36f76f75-163880
    body:
      encoding: UTF-8
      string: '{"id":"aut-LCpoGOyyMOc3NV4jMTXw7e30QWFRM9MJ","key":"aut-LCpoGOyyMOc3NV4jMTXw7e30QWFRM9MJ","merchant_of_record":"flow","card":{"id":"crd-d161f0ec8f5843198296e89b49c00da5","token":"F96ijBAOSQghnJPbUJbCaiSwJu2uXGq77py2gAeNGBT18pY21vSKgvsgdDFHXqN0","discriminator":"card_reference"},"amount":500,"currency":"USD","customer":{"name":{}},"attributes":{},"result":{"status":"authorized","description":{"display":"VISA
        ending with 1881"}},"created_at":"2018-10-30T18:12:52.261Z","method":{"id":"visa","type":"card","name":"VISA","images":{"small":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/30/original.png","width":65,"height":41},"medium":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/60/original.png","width":100,"height":60},"large":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/120/original.png","width":256,"height":256}},"regions":["world"]},"requested":{"amount":500,"currency":"USD"},"base":{"amount":500,"currency":"USD"},"discriminator":"card_authorization"}'
  recorded_at: Tue, 30 Oct 2018 18:12:52 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/captures
    body:
      encoding: UTF-8
      string: '{"authorization_id":"aut-LCpoGOyyMOc3NV4jMTXw7e30QWFRM9MJ","key":null,"amount":"500.0","currency":"USD","attributes":null}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.58
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '55'
      X-Flow-Request-Id:
      - api7a047a2a47bd4eb291de6b76597aa6ed
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - d062fb223f28-163926
    body:
      encoding: UTF-8
      string: '{"id":"cap-a59f2a6813354c68b9401bbaa64877a1","key":"cap-a59f2a6813354c68b9401bbaa64877a1","authorization":{"id":"aut-LCpoGOyyMOc3NV4jMTXw7e30QWFRM9MJ","key":"aut-LCpoGOyyMOc3NV4jMTXw7e30QWFRM9MJ"},"amount":500,"currency":"USD","created_at":"2018-10-30T18:12:52.664Z","status":"succeeded","requested":{"amount":500,"currency":"USD"},"attributes":{},"base":{"amount":500,"currency":"USD"}}'
  recorded_at: Tue, 30 Oct 2018 18:12:52 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/refunds
    body:
      encoding: UTF-8
      string: '{"currency":"USD","authorization_id":"aut-LCpoGOyyMOc3NV4jMTXw7e30QWFRM9MJ","amount":5.0}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.58
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '81'
      X-Flow-Request-Id:
      - api52f39153841641c9a749ab6a603d51a5
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 9388ed89033d-163655
    body:
      encoding: UTF-8
      string: '{"id":"ref-08669b9bf14c4139b04261ae64f1c642","key":"ref-08669b9bf14c4139b04261ae64f1c642","authorization":{"id":"aut-LCpoGOyyMOc3NV4jMTXw7e30QWFRM9MJ","key":"aut-LCpoGOyyMOc3NV4jMTXw7e30QWFRM9MJ"},"amount":5,"currency":"USD","captures":[{"capture":{"id":"cap-a59f2a6813354c68b9401bbaa64877a1","key":"cap-a59f2a6813354c68b9401bbaa64877a1","authorization":{"id":"aut-LCpoGOyyMOc3NV4jMTXw7e30QWFRM9MJ","key":"aut-LCpoGOyyMOc3NV4jMTXw7e30QWFRM9MJ"},"amount":500,"currency":"USD","created_at":"2018-10-30T18:12:52.664Z","status":"succeeded","requested":{"amount":500,"currency":"USD"},"attributes":{},"base":{"amount":500,"currency":"USD"}},"amount":5}],"created_at":"2018-10-30T18:12:53.143Z","status":"succeeded","requested":{"amount":5,"currency":"USD"},"attributes":{},"base":{"amount":5,"currency":"USD"}}'
  recorded_at: Tue, 30 Oct 2018 18:12:53 GMT
recorded_with: VCR 2.9.3
