---
http_interactions:
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/cards
    body:
      encoding: UTF-8
      string: '{"number":"4012888888881881","name":"Ben Crouse","cvv":"999","expiration_year":2019,"expiration_month":1}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.58
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '79'
      X-Flow-Request-Id:
      - api49bfd64b0b574039a1ac20b9a1a483d1
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - d062fb223f28-163923
    body:
      encoding: UTF-8
      string: '{"id":"crd-675bfc264df2422898c762d7ad74677a","token":"F96QiAvAPS35NG2Y5tZWNjJ4r4rkhedaac9p4DR7T5Hzgt2nPz630hHCM7L3FkhW","type":"visa","expiration":{"month":1,"year":2019},"iin":"401288","last4":"1881","name":"Ben
        Crouse","discriminator":"card"}'
  recorded_at: Tue, 30 Oct 2018 18:12:50 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/authorizations
    body:
      encoding: UTF-8
      string: '{"amount":500,"currency":"USD","discriminator":"direct_authorization_form","token":"F96QiAvAPS35NG2Y5tZWNjJ4r4rkhedaac9p4DR7T5Hzgt2nPz630hHCM7L3FkhW","order_number":"3090C4FAC6"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.58
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '77'
      X-Flow-Request-Id:
      - api15f8ffef686b43e0b824a93b431ba5eb
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 4bbb36f76f75-163879
    body:
      encoding: UTF-8
      string: '{"id":"aut-LISt9Vt6srZhwpy5NaYn5lt4Zhs3picK","key":"aut-LISt9Vt6srZhwpy5NaYn5lt4Zhs3picK","merchant_of_record":"flow","card":{"id":"crd-675bfc264df2422898c762d7ad74677a","token":"F96QiAvAPS35NG2Y5tZWNjJ4r4rkhedaac9p4DR7T5Hzgt2nPz630hHCM7L3FkhW","discriminator":"card_reference"},"amount":500,"currency":"USD","customer":{"name":{}},"attributes":{},"result":{"status":"authorized","description":{"display":"VISA
        ending with 1881"}},"created_at":"2018-10-30T18:12:51.023Z","method":{"id":"visa","type":"card","name":"VISA","images":{"small":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/30/original.png","width":65,"height":41},"medium":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/60/original.png","width":100,"height":60},"large":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/120/original.png","width":256,"height":256}},"regions":["world"]},"requested":{"amount":500,"currency":"USD"},"base":{"amount":500,"currency":"USD"},"discriminator":"card_authorization"}'
  recorded_at: Tue, 30 Oct 2018 18:12:51 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/captures
    body:
      encoding: UTF-8
      string: '{"authorization_id":"aut-LISt9Vt6srZhwpy5NaYn5lt4Zhs3picK","key":null,"amount":"500.0","currency":"USD","attributes":null}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.58
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '64'
      X-Flow-Request-Id:
      - api05ce3569fa9041988385bce2c3ecdc25
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 9388ed89033d-163654
    body:
      encoding: UTF-8
      string: '{"id":"cap-f3c1bde7c4fb43b092d4cfe372ee1dcd","key":"cap-f3c1bde7c4fb43b092d4cfe372ee1dcd","authorization":{"id":"aut-LISt9Vt6srZhwpy5NaYn5lt4Zhs3picK","key":"aut-LISt9Vt6srZhwpy5NaYn5lt4Zhs3picK"},"amount":500,"currency":"USD","created_at":"2018-10-30T18:12:51.421Z","status":"succeeded","requested":{"amount":500,"currency":"USD"},"attributes":{},"base":{"amount":500,"currency":"USD"}}'
  recorded_at: Tue, 30 Oct 2018 18:12:51 GMT
recorded_with: VCR 2.9.3
