---
http_interactions:
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/cards
    body:
      encoding: UTF-8
      string: '{"number":"4012888888881881","cipher":null,"expiration_month":1,"expiration_year":2019,"name":"Ben
        Crouse","cvv":"999","address":null,"ip":null,"challenge_text":null,"challenge_cipher":null,"token_type":null,"discriminator":"card_form"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.5.59
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '73'
      X-Flow-Request-Id:
      - api1a29fa3b49a24b29b837ae8d61290fd5
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 17f80e70e818-714
    body:
      encoding: UTF-8
      string: '{"id":"crd-f80b275337864306bc8d82d028b5132b","token":"F96jzUjJIcSiLInEZnF2hCS7JcSiXfjRKPVBN7LZHlj0l7vz6CxkEz2kJhbXoHLW","type":"visa","expiration":{"month":1,"year":2019},"iin":"401288","last4":"1881","name":"Ben
        Crouse","discriminator":"card"}'
  recorded_at: Fri, 06 Jul 2018 19:43:04 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/authorizations
    body:
      encoding: UTF-8
      string: '{"token":"F96jzUjJIcSiLInEZnF2hCS7JcSiXfjRKPVBN7LZHlj0l7vz6CxkEz2kJhbXoHLW","amount":"50000.0","currency":"USD","customer":{"name":{"first":"Ben","last":"Crouse"},"number":null,"phone":null,"email":null},"key":null,"cvv":null,"attributes":null,"destination":null,"ip":null,"options":null,"discriminator":"direct_authorization_form"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.5.59
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '129'
      X-Flow-Request-Id:
      - apiaaca2dc9f1024c1e9b4a2bc25165f9ed
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - d723dd60f284-554
    body:
      encoding: UTF-8
      string: '{"id":"aut-NdCmWglG0KpoK7q3hxiM9iOc800t9mHI","key":"aut-NdCmWglG0KpoK7q3hxiM9iOc800t9mHI","merchant_of_record":"flow","card":{"id":"crd-f80b275337864306bc8d82d028b5132b","token":"F96jzUjJIcSiLInEZnF2hCS7JcSiXfjRKPVBN7LZHlj0l7vz6CxkEz2kJhbXoHLW","discriminator":"card_reference"},"amount":50000,"currency":"USD","customer":{"name":{"first":"Ben","last":"Crouse"}},"attributes":{},"result":{"status":"authorized"},"created_at":"2018-07-06T19:43:04.318Z","method":{"id":"visa","type":"card","name":"VISA","images":{"small":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/30/original.png","width":65,"height":41},"medium":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/60/original.png","width":100,"height":60},"large":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/120/original.png","width":256,"height":256}},"regions":["world"]},"requested":{"amount":50000,"currency":"USD"},"discriminator":"card_authorization"}'
  recorded_at: Fri, 06 Jul 2018 19:43:04 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/captures
    body:
      encoding: UTF-8
      string: '{"authorization_id":"aut-NdCmWglG0KpoK7q3hxiM9iOc800t9mHI","key":"aut-NdCmWglG0KpoK7q3hxiM9iOc800t9mHI","amount":"50000.0","currency":"USD","attributes":null}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.5.59
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '81'
      X-Flow-Request-Id:
      - apidaba07375c2d4f1cab766d1ea808a703
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - a4c9a2d3de52-623
    body:
      encoding: UTF-8
      string: '{"id":"cap-4a7e93947f334995856c5a70fcd3a30e","key":"aut-NdCmWglG0KpoK7q3hxiM9iOc800t9mHI","authorization":{"id":"aut-NdCmWglG0KpoK7q3hxiM9iOc800t9mHI","key":"aut-NdCmWglG0KpoK7q3hxiM9iOc800t9mHI"},"amount":50000,"currency":"USD","created_at":"2018-07-06T19:43:10.056Z","status":"succeeded","requested":{"amount":50000,"currency":"USD"},"attributes":{}}'
  recorded_at: Fri, 06 Jul 2018 19:43:10 GMT
recorded_with: VCR 2.9.3
