---
http_interactions:
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/cards
    body:
      encoding: UTF-8
      string: '{"number":"4012888888881881","cipher":null,"expiration_month":1,"expiration_year":2019,"name":"Ben
        Crouse","cvv":"999","address":null,"ip":null,"challenge_text":null,"challenge_cipher":null,"token_type":null,"discriminator":"card_form"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '76'
      X-Flow-Request-Id:
      - api0ddc473e9d514ccda5616c83b582d491
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 6e9eb4075694-297447
    body:
      encoding: UTF-8
      string: '{"id":"crd-a5f9faf061754e29980882037e8ba50e","token":"F96IhHYOjjHHK3t1l26zbb8A6wg9TIPpKfWJrXcejzFcQAo5n3JGX8z0UfQejxeP","type":"visa","expiration":{"month":1,"year":2019},"iin":"401288","last4":"1881","name":"Ben
        Crouse","discriminator":"card"}'
  recorded_at: Thu, 06 Sep 2018 13:50:13 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/authorizations
    body:
      encoding: UTF-8
      string: '{"token":"F96IhHYOjjHHK3t1l26zbb8A6wg9TIPpKfWJrXcejzFcQAo5n3JGX8z0UfQejxeP","amount":"50000.0","currency":"USD","customer":{"name":{"first":"Ben","last":"Crouse"},"number":null,"phone":null,"email":null,"address":null},"key":null,"cvv":null,"attributes":null,"destination":null,"billing_address":null,"ip":null,"options":null,"redirect_urls":null,"discriminator":"direct_authorization_form"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '134'
      X-Flow-Request-Id:
      - api53b98dafac1d490db0c24af22fde9132
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - de49ba3b67d6-295503
    body:
      encoding: UTF-8
      string: '{"id":"aut-wKOKW3zagoYqLcr96aQA6K7CyGSsjdeX","key":"aut-wKOKW3zagoYqLcr96aQA6K7CyGSsjdeX","merchant_of_record":"flow","card":{"id":"crd-a5f9faf061754e29980882037e8ba50e","token":"F96IhHYOjjHHK3t1l26zbb8A6wg9TIPpKfWJrXcejzFcQAo5n3JGX8z0UfQejxeP","discriminator":"card_reference"},"amount":50000,"currency":"USD","customer":{"name":{"first":"Ben","last":"Crouse"}},"attributes":{},"result":{"status":"authorized"},"created_at":"2018-09-06T13:50:13.284Z","method":{"id":"visa","type":"card","name":"VISA","images":{"small":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/30/original.png","width":65,"height":41},"medium":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/60/original.png","width":100,"height":60},"large":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/120/original.png","width":256,"height":256}},"regions":["world"]},"requested":{"amount":50000,"currency":"USD"},"base":{"amount":50000,"currency":"USD"},"discriminator":"card_authorization"}'
  recorded_at: Thu, 06 Sep 2018 13:50:13 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/captures
    body:
      encoding: UTF-8
      string: '{"authorization_id":"aut-wKOKW3zagoYqLcr96aQA6K7CyGSsjdeX","key":"aut-wKOKW3zagoYqLcr96aQA6K7CyGSsjdeX","amount":"50000.0","currency":"USD","attributes":null}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '81'
      X-Flow-Request-Id:
      - api54404b64da4e4803af1794ef639c8335
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 939b7e367ff0-297292
    body:
      encoding: UTF-8
      string: '{"id":"cap-3af2e7d4ecf147119fa3c2d26d2d4822","key":"aut-wKOKW3zagoYqLcr96aQA6K7CyGSsjdeX","authorization":{"id":"aut-wKOKW3zagoYqLcr96aQA6K7CyGSsjdeX","key":"aut-wKOKW3zagoYqLcr96aQA6K7CyGSsjdeX"},"amount":50000,"currency":"USD","created_at":"2018-09-06T13:50:13.604Z","status":"succeeded","requested":{"amount":50000,"currency":"USD"},"attributes":{},"base":{"amount":50000,"currency":"USD"}}'
  recorded_at: Thu, 06 Sep 2018 13:50:13 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/refunds
    body:
      encoding: UTF-8
      string: '{"authorization_id":"aut-wKOKW3zagoYqLcr96aQA6K7CyGSsjdeX","capture_id":null,"order_number":null,"key":null,"amount":"50000.0","currency":"USD","rma_key":null,"attributes":null}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '88'
      X-Flow-Request-Id:
      - api0823dbd7492c48d387c72e02af02c979
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 313e2edd96ef-297555
    body:
      encoding: UTF-8
      string: '{"id":"ref-ed463ef6a03243fd8b51966afb64cb4a","key":"ref-ed463ef6a03243fd8b51966afb64cb4a","authorization":{"id":"aut-wKOKW3zagoYqLcr96aQA6K7CyGSsjdeX","key":"aut-wKOKW3zagoYqLcr96aQA6K7CyGSsjdeX"},"amount":50000,"currency":"USD","captures":[{"capture":{"id":"cap-3af2e7d4ecf147119fa3c2d26d2d4822","key":"aut-wKOKW3zagoYqLcr96aQA6K7CyGSsjdeX","authorization":{"id":"aut-wKOKW3zagoYqLcr96aQA6K7CyGSsjdeX","key":"aut-wKOKW3zagoYqLcr96aQA6K7CyGSsjdeX"},"amount":50000,"currency":"USD","created_at":"2018-09-06T13:50:13.604Z","status":"succeeded","requested":{"amount":50000,"currency":"USD"},"attributes":{},"base":{"amount":50000,"currency":"USD"}},"amount":50000}],"created_at":"2018-09-06T13:50:14.086Z","status":"succeeded","requested":{"amount":50000,"currency":"USD"},"attributes":{},"base":{"amount":50000,"currency":"USD"}}'
  recorded_at: Thu, 06 Sep 2018 13:50:14 GMT
recorded_with: VCR 2.9.3
