---
http_interactions:
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/cards
    body:
      encoding: UTF-8
      string: '{"number":"4012888888881881","cipher":null,"expiration_month":1,"expiration_year":2019,"name":"Ben
        Crouse","cvv":"999","address":null,"ip":null,"challenge_text":null,"challenge_cipher":null,"token_type":null,"discriminator":"card_form"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '195'
      X-Flow-Request-Id:
      - api1b3bf869234948e7be2a15d442d2396f
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 6e9eb4075694-297506
    body:
      encoding: UTF-8
      string: '{"id":"crd-b2fd17d866e042bdaea7fc7d05fbe648","token":"F96whttZ6ewzgJcPi7sjYKcJZAUqFUebbD76uJiKyU3HkQPLYzSWgKRaXiFuWDLJ","type":"visa","expiration":{"month":1,"year":2019},"iin":"401288","last4":"1881","name":"Ben
        Crouse","discriminator":"card"}'
  recorded_at: Thu, 06 Sep 2018 13:52:55 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/authorizations
    body:
      encoding: UTF-8
      string: '{"token":"F96whttZ6ewzgJcPi7sjYKcJZAUqFUebbD76uJiKyU3HkQPLYzSWgKRaXiFuWDLJ","amount":"50000.0","currency":"USD","customer":{"name":{"first":"Ben","last":"Crouse"},"number":null,"phone":null,"email":null,"address":null},"key":null,"cvv":null,"attributes":null,"destination":null,"billing_address":null,"ip":null,"options":null,"redirect_urls":null,"discriminator":"direct_authorization_form"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '258'
      X-Flow-Request-Id:
      - api984e5d1964304faaac3e597b2e79d62f
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 939b7e367ff0-297355
    body:
      encoding: UTF-8
      string: '{"id":"aut-Gu6t9O9nOVPIDup10EbHRGsOftuoh7O4","key":"aut-Gu6t9O9nOVPIDup10EbHRGsOftuoh7O4","merchant_of_record":"flow","card":{"id":"crd-b2fd17d866e042bdaea7fc7d05fbe648","token":"F96whttZ6ewzgJcPi7sjYKcJZAUqFUebbD76uJiKyU3HkQPLYzSWgKRaXiFuWDLJ","discriminator":"card_reference"},"amount":50000,"currency":"USD","customer":{"name":{"first":"Ben","last":"Crouse"}},"attributes":{},"result":{"status":"authorized"},"created_at":"2018-09-06T13:52:55.600Z","method":{"id":"visa","type":"card","name":"VISA","images":{"small":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/30/original.png","width":65,"height":41},"medium":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/60/original.png","width":100,"height":60},"large":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/120/original.png","width":256,"height":256}},"regions":["world"]},"requested":{"amount":50000,"currency":"USD"},"base":{"amount":50000,"currency":"USD"},"discriminator":"card_authorization"}'
  recorded_at: Thu, 06 Sep 2018 13:52:55 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/captures
    body:
      encoding: UTF-8
      string: '{"authorization_id":"aut-Gu6t9O9nOVPIDup10EbHRGsOftuoh7O4","key":"aut-Gu6t9O9nOVPIDup10EbHRGsOftuoh7O4","amount":"50000.0","currency":"USD","attributes":null}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '151'
      X-Flow-Request-Id:
      - api00dfe469ed0a41a382badf5b18aa813c
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 6e9eb4075694-297507
    body:
      encoding: UTF-8
      string: '{"id":"cap-8145cf05f2594019a8892d2e5aa1b808","key":"aut-Gu6t9O9nOVPIDup10EbHRGsOftuoh7O4","authorization":{"id":"aut-Gu6t9O9nOVPIDup10EbHRGsOftuoh7O4","key":"aut-Gu6t9O9nOVPIDup10EbHRGsOftuoh7O4"},"amount":50000,"currency":"USD","created_at":"2018-09-06T13:52:56.084Z","status":"succeeded","requested":{"amount":50000,"currency":"USD"},"attributes":{},"base":{"amount":50000,"currency":"USD"}}'
  recorded_at: Thu, 06 Sep 2018 13:52:56 GMT
recorded_with: VCR 2.9.3
