---
http_interactions:
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/cards
    body:
      encoding: UTF-8
      string: '{"number":"4012888888881881","cipher":null,"expiration_month":1,"expiration_year":2019,"name":"Ben
        Crouse","cvv":"999","address":null,"ip":null,"challenge_text":null,"challenge_cipher":null,"token_type":null,"discriminator":"card_form"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '154'
      X-Flow-Request-Id:
      - apicfa48fcacb564093abe38854e7f99f63
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - de49ba3b67d6-295565
    body:
      encoding: UTF-8
      string: '{"id":"crd-dd400720bf1a4da986faa8b31ad32164","token":"F96kfSnHV3IhfvzuTSvepFDI3eMNK1QCT4AmB4I8duzGJhoRKtAxcuZOIcB2PjFY","type":"visa","expiration":{"month":1,"year":2019},"iin":"401288","last4":"1881","name":"Ben
        Crouse","discriminator":"card"}'
  recorded_at: Thu, 06 Sep 2018 13:52:56 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/authorizations
    body:
      encoding: UTF-8
      string: '{"token":"F96kfSnHV3IhfvzuTSvepFDI3eMNK1QCT4AmB4I8duzGJhoRKtAxcuZOIcB2PjFY","amount":"50000.0","currency":"USD","customer":{"name":{"first":"Ben","last":"Crouse"},"number":null,"phone":null,"email":null,"address":null},"key":null,"cvv":null,"attributes":null,"destination":null,"billing_address":null,"ip":null,"options":null,"redirect_urls":null,"discriminator":"direct_authorization_form"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '196'
      X-Flow-Request-Id:
      - api3aa0a2ff51184a8fa967ea7454934180
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 313e2edd96ef-297614
    body:
      encoding: UTF-8
      string: '{"id":"aut-Mu7aTWhFkKvlfH1NuJ3j857aJwxIGWsM","key":"aut-Mu7aTWhFkKvlfH1NuJ3j857aJwxIGWsM","merchant_of_record":"flow","card":{"id":"crd-dd400720bf1a4da986faa8b31ad32164","token":"F96kfSnHV3IhfvzuTSvepFDI3eMNK1QCT4AmB4I8duzGJhoRKtAxcuZOIcB2PjFY","discriminator":"card_reference"},"amount":50000,"currency":"USD","customer":{"name":{"first":"Ben","last":"Crouse"}},"attributes":{},"result":{"status":"authorized"},"created_at":"2018-09-06T13:52:57.142Z","method":{"id":"visa","type":"card","name":"VISA","images":{"small":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/30/original.png","width":65,"height":41},"medium":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/60/original.png","width":100,"height":60},"large":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/120/original.png","width":256,"height":256}},"regions":["world"]},"requested":{"amount":50000,"currency":"USD"},"base":{"amount":50000,"currency":"USD"},"discriminator":"card_authorization"}'
  recorded_at: Thu, 06 Sep 2018 13:52:57 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/captures
    body:
      encoding: UTF-8
      string: '{"authorization_id":"aut-Mu7aTWhFkKvlfH1NuJ3j857aJwxIGWsM","key":"aut-Mu7aTWhFkKvlfH1NuJ3j857aJwxIGWsM","amount":"50000.0","currency":"USD","attributes":null}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '108'
      X-Flow-Request-Id:
      - api0072bb383a0049a1a6bae9b1dab1b89b
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 313e2edd96ef-297616
    body:
      encoding: UTF-8
      string: '{"id":"cap-273e3bbe80004c01bdcb1483dcc750a9","key":"aut-Mu7aTWhFkKvlfH1NuJ3j857aJwxIGWsM","authorization":{"id":"aut-Mu7aTWhFkKvlfH1NuJ3j857aJwxIGWsM","key":"aut-Mu7aTWhFkKvlfH1NuJ3j857aJwxIGWsM"},"amount":50000,"currency":"USD","created_at":"2018-09-06T13:52:57.474Z","status":"succeeded","requested":{"amount":50000,"currency":"USD"},"attributes":{},"base":{"amount":50000,"currency":"USD"}}'
  recorded_at: Thu, 06 Sep 2018 13:52:57 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/refunds
    body:
      encoding: UTF-8
      string: '{"authorization_id":"aut-Mu7aTWhFkKvlfH1NuJ3j857aJwxIGWsM","capture_id":null,"order_number":null,"key":null,"amount":"50000.0","currency":"USD","rma_key":null,"attributes":null}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '506'
      X-Flow-Request-Id:
      - api2acf6030644d4b82b8c295fbbbbb8f1c
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 6e9eb4075694-297508
    body:
      encoding: UTF-8
      string: '{"id":"ref-6366d3f8267f4d098242f9637b4480ab","key":"ref-6366d3f8267f4d098242f9637b4480ab","authorization":{"id":"aut-Mu7aTWhFkKvlfH1NuJ3j857aJwxIGWsM","key":"aut-Mu7aTWhFkKvlfH1NuJ3j857aJwxIGWsM"},"amount":50000,"currency":"USD","captures":[{"capture":{"id":"cap-273e3bbe80004c01bdcb1483dcc750a9","key":"aut-Mu7aTWhFkKvlfH1NuJ3j857aJwxIGWsM","authorization":{"id":"aut-Mu7aTWhFkKvlfH1NuJ3j857aJwxIGWsM","key":"aut-Mu7aTWhFkKvlfH1NuJ3j857aJwxIGWsM"},"amount":50000,"currency":"USD","created_at":"2018-09-06T13:52:57.474Z","status":"succeeded","requested":{"amount":50000,"currency":"USD"},"attributes":{},"base":{"amount":50000,"currency":"USD"}},"amount":50000}],"created_at":"2018-09-06T13:52:57.862Z","status":"succeeded","requested":{"amount":50000,"currency":"USD"},"attributes":{},"base":{"amount":50000,"currency":"USD"}}'
  recorded_at: Thu, 06 Sep 2018 13:52:58 GMT
recorded_with: VCR 2.9.3
