---
http_interactions:
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/cards
    body:
      encoding: UTF-8
      string: '{"number":"4012888888881881","cipher":null,"expiration_month":1,"expiration_year":2019,"name":"Ben
        Crouse","cvv":"999","address":null,"ip":null,"challenge_text":null,"challenge_cipher":null,"token_type":null,"discriminator":"card_form"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '197'
      X-Flow-Request-Id:
      - api6ac8066ab8ef48338a7e30636dc12be2
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - de49ba3b67d6-295562
    body:
      encoding: UTF-8
      string: '{"id":"crd-baacbd10a56d4972989ee99da10479f7","token":"F96yWMozUHl0jR3yjTsDSvTqb1zcthUVLt5dSrHD9HH483Ra0e0TL5qCTBQWAQ9z","type":"visa","expiration":{"month":1,"year":2019},"iin":"401288","last4":"1881","name":"Ben
        Crouse","discriminator":"card"}'
  recorded_at: Thu, 06 Sep 2018 13:52:52 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/authorizations
    body:
      encoding: UTF-8
      string: '{"token":"F96yWMozUHl0jR3yjTsDSvTqb1zcthUVLt5dSrHD9HH483Ra0e0TL5qCTBQWAQ9z","amount":"50000.0","currency":"USD","customer":{"name":{"first":"Ben","last":"Crouse"},"number":null,"phone":null,"email":null,"address":null},"key":null,"cvv":null,"attributes":null,"destination":null,"billing_address":null,"ip":null,"options":null,"redirect_urls":null,"discriminator":"direct_authorization_form"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '271'
      X-Flow-Request-Id:
      - api820ed85acacd43f1b08157da12605cf5
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 313e2edd96ef-297612
    body:
      encoding: UTF-8
      string: '{"id":"aut-Wy2fojVYyUdFsWR4elY9z8tpKBmIGGlt","key":"aut-Wy2fojVYyUdFsWR4elY9z8tpKBmIGGlt","merchant_of_record":"flow","card":{"id":"crd-baacbd10a56d4972989ee99da10479f7","token":"F96yWMozUHl0jR3yjTsDSvTqb1zcthUVLt5dSrHD9HH483Ra0e0TL5qCTBQWAQ9z","discriminator":"card_reference"},"amount":50000,"currency":"USD","customer":{"name":{"first":"Ben","last":"Crouse"}},"attributes":{},"result":{"status":"authorized"},"created_at":"2018-09-06T13:52:53.093Z","method":{"id":"visa","type":"card","name":"VISA","images":{"small":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/30/original.png","width":65,"height":41},"medium":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/60/original.png","width":100,"height":60},"large":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/120/original.png","width":256,"height":256}},"regions":["world"]},"requested":{"amount":50000,"currency":"USD"},"base":{"amount":50000,"currency":"USD"},"discriminator":"card_authorization"}'
  recorded_at: Thu, 06 Sep 2018 13:52:53 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/captures
    body:
      encoding: UTF-8
      string: '{"authorization_id":"aut-Wy2fojVYyUdFsWR4elY9z8tpKBmIGGlt","key":"aut-Wy2fojVYyUdFsWR4elY9z8tpKBmIGGlt","amount":"50000.0","currency":"USD","attributes":null}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '199'
      X-Flow-Request-Id:
      - api5367b229c8c9427db4cfb0bb9f93f998
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 313e2edd96ef-297613
    body:
      encoding: UTF-8
      string: '{"id":"cap-51615f458dc7426eab62d7f86680c1b9","key":"aut-Wy2fojVYyUdFsWR4elY9z8tpKBmIGGlt","authorization":{"id":"aut-Wy2fojVYyUdFsWR4elY9z8tpKBmIGGlt","key":"aut-Wy2fojVYyUdFsWR4elY9z8tpKBmIGGlt"},"amount":50000,"currency":"USD","created_at":"2018-09-06T13:52:53.627Z","status":"succeeded","requested":{"amount":50000,"currency":"USD"},"attributes":{},"base":{"amount":50000,"currency":"USD"}}'
  recorded_at: Thu, 06 Sep 2018 13:52:53 GMT
recorded_with: VCR 2.9.3
