---
http_interactions:
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/cards
    body:
      encoding: UTF-8
      string: '{"number":"4012888888881881","cipher":null,"expiration_month":1,"expiration_year":2019,"name":"Ben
        Crouse","cvv":"999","address":null,"ip":null,"challenge_text":null,"challenge_cipher":null,"token_type":null,"discriminator":"card_form"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '159'
      X-Flow-Request-Id:
      - apice8d830ea04644269e832a562b6ad9dd
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 939b7e367ff0-297359
    body:
      encoding: UTF-8
      string: '{"id":"crd-289f0163ba23408583886cd15b43cfa4","token":"F96Mxy6E4UxeuLNrEeFPgLMvL6mqO3Cgd3PIHTH7XHuomplmwqP86TVzh4M5EFr4","type":"visa","expiration":{"month":1,"year":2019},"iin":"401288","last4":"1881","name":"Ben
        Crouse","discriminator":"card"}'
  recorded_at: Thu, 06 Sep 2018 13:52:59 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/authorizations
    body:
      encoding: UTF-8
      string: '{"token":"F96Mxy6E4UxeuLNrEeFPgLMvL6mqO3Cgd3PIHTH7XHuomplmwqP86TVzh4M5EFr4","amount":"50000.0","currency":"USD","customer":{"name":{"first":"Ben","last":"Crouse"},"number":null,"phone":null,"email":null,"address":null},"key":null,"cvv":null,"attributes":null,"destination":null,"billing_address":null,"ip":null,"options":null,"redirect_urls":null,"discriminator":"direct_authorization_form"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.6.19
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '278'
      X-Flow-Request-Id:
      - api17d22f134bb24a6b9c665c2a875726b1
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 6e9eb4075694-297510
    body:
      encoding: UTF-8
      string: '{"id":"aut-xIfePsJ6Ytl1BxnNKV4jcwOH8GRXSlrE","key":"aut-xIfePsJ6Ytl1BxnNKV4jcwOH8GRXSlrE","merchant_of_record":"flow","card":{"id":"crd-289f0163ba23408583886cd15b43cfa4","token":"F96Mxy6E4UxeuLNrEeFPgLMvL6mqO3Cgd3PIHTH7XHuomplmwqP86TVzh4M5EFr4","discriminator":"card_reference"},"amount":50000,"currency":"USD","customer":{"name":{"first":"Ben","last":"Crouse"}},"attributes":{},"result":{"status":"authorized"},"created_at":"2018-09-06T13:52:59.476Z","method":{"id":"visa","type":"card","name":"VISA","images":{"small":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/30/original.png","width":65,"height":41},"medium":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/60/original.png","width":100,"height":60},"large":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/120/original.png","width":256,"height":256}},"regions":["world"]},"requested":{"amount":50000,"currency":"USD"},"base":{"amount":50000,"currency":"USD"},"discriminator":"card_authorization"}'
  recorded_at: Thu, 06 Sep 2018 13:52:59 GMT
recorded_with: VCR 2.9.3
