---
http_interactions:
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/cards
    body:
      encoding: UTF-8
      string: '{"number":"4012888888881881","cipher":null,"expiration_month":1,"expiration_year":2019,"name":"Ben
        Crouse","cvv":"999","address":null,"ip":null,"challenge_text":null,"challenge_cipher":null,"token_type":null,"discriminator":"card_form"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.5.59
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '131'
      X-Flow-Request-Id:
      - api72c5b59e961644b1982bcdd2d1c8e014
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - 17f80e70e818-712
    body:
      encoding: UTF-8
      string: '{"id":"crd-0b33975cf4614efca5b57fac8e7ee33d","token":"F96kwV3Offt93X3IhwSfDb9nCCF9yVZwg4tW2OBwFhYx5oJ4G0Ab1SMf3rkOh64Q","type":"visa","expiration":{"month":1,"year":2019},"iin":"401288","last4":"1881","name":"Ben
        Crouse","discriminator":"card"}'
  recorded_at: Fri, 06 Jul 2018 19:43:02 GMT
- request:
    method: post
    uri: https://api.flow.io/workarea-sandbox/authorizations
    body:
      encoding: UTF-8
      string: '{"token":"F96kwV3Offt93X3IhwSfDb9nCCF9yVZwg4tW2OBwFhYx5oJ4G0Ab1SMf3rkOh64Q","amount":"50000.0","currency":"USD","customer":{"name":{"first":"Ben","last":"Crouse"},"number":null,"phone":null,"email":null},"key":null,"cvv":null,"attributes":null,"destination":null,"ip":null,"options":null,"discriminator":"direct_authorization_form"}'
    headers:
      Authorization:
      - Basic RzhqUmV4QkJRdmV1TEwyczZUUWZjSWk2TnZDanhjQjQ3Z3dudmNkbDR4VU5QRUp6QlV0Z3h0b1BRNkZFUjZpSkxmeG1TNGd4M0JxejB4VE5uMlZnenlXTmg4U1hxTHRuSnBjZk1iYTdlaDhyOGxNQTRWd2xOVjNtSUJNZTBBNXI6
      X-Apidoc-Version:
      - 0.5.59
      X-Apidoc-Version-Major:
      - '0'
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '236'
      X-Flow-Request-Id:
      - apidd5be5bd563f4677bb68de2acfc237de
      X-Flow-Server:
      - payment
      X-Trace-Token:
      - d723dd60f284-553
    body:
      encoding: UTF-8
      string: '{"id":"aut-pGbRE9glVwNieqkez1Ha2vuvjmS5hd1c","key":"aut-pGbRE9glVwNieqkez1Ha2vuvjmS5hd1c","merchant_of_record":"flow","card":{"id":"crd-0b33975cf4614efca5b57fac8e7ee33d","token":"F96kwV3Offt93X3IhwSfDb9nCCF9yVZwg4tW2OBwFhYx5oJ4G0Ab1SMf3rkOh64Q","discriminator":"card_reference"},"amount":50000,"currency":"USD","customer":{"name":{"first":"Ben","last":"Crouse"}},"attributes":{},"result":{"status":"authorized"},"created_at":"2018-07-06T19:43:03.218Z","method":{"id":"visa","type":"card","name":"VISA","images":{"small":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/30/original.png","width":65,"height":41},"medium":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/60/original.png","width":100,"height":60},"large":{"url":"https://flowcdn.io/util/logos/payment-methods/visa/120/original.png","width":256,"height":256}},"regions":["world"]},"requested":{"amount":50000,"currency":"USD"},"discriminator":"card_authorization"}'
  recorded_at: Fri, 06 Jul 2018 19:43:03 GMT
recorded_with: VCR 2.9.3
