- if Workarea::FlowIo.organization_id.present?
  :javascript
    (function (b, e, a, c, o, n, j, s) {
      b[o] = b[o] || {};
      b[o]['beacon'] = b[o]['beacon'] || function () {
        (b[o]['beacon'].q = b[o]['beacon'].q || []).push(arguments);
      };
      b[o]['beacon']('set', 'organization', n);
      b[o]['beacon']('init');
      j = e.createElement(a);
      j.src = c;
      j.async = 1;
      j.defer = 1;
      s = e.getElementsByTagName(a)[0];
      s.parentNode.insertBefore(j, s);
    })(window, document, 'script', 'https://flowcdn.io/beacon/js/latest/beacon.min.js', 'flow', '#{Workarea::FlowIo.organization_id}');
